
  <div class="last-section" id="footer">
    <span class="favicon fab fa-twitter"></span>
    <span class="favicon fab fa-facebook-f"></span>
    <span class="favicon fab fa-instagram"></span>
    <span class="favicon fas fa-envelope"></span>
    <p class="copyright">
      © Copyright 2022 Marina Brezovic
    </p>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="app.js" charset="utf-8"></script>

</body>
</html>
