<%- include("partials/header") %>

<div class="container-fluid main">

  <div class="what row">
    <div class="col-lg-6 text">
      <h1 class="big-heading">Leader in innovative city solutions</h1>
      <p>text about main activities...</p>
      <p>main activities...</p>
      <p>main activities...</p>
      <p>We shape the image of your town.</p>
    </div>
    <div class="col-lg-6 picture">
      <img class="main-image1 slide" src="/images/sketch-city.jpg" alt="town-sketch">
    </div>
  </div>

  <div class="who row">
    <div class="col-lg-6 text">
      <h1 class="big-heading">A company with a tradition</h1>
      <p>text about history of the company, founded bla bla.. and how it has been growing until now..</p>
      <p>The company now employs more than 3000 architects, designers, builders and technitians in 35 world locations.</p>
    </div>
    <div class="col-lg-6 picture">
      <img class="main-image2 slide" src="/images/team-tradition.jpg" alt="long_tradition_of_company's_work">
    </div>
  </div>

  <div class="mission row">
    <div class="col-lg-6 text">
      <h1 class="big-heading">What are our main goals?</h1>
      <p>text about main goals and mission</p>
      <p>results, so far (how many happy customers)</p>
    </div>
    <div class="col-lg-6 picture">
      <img class="main-image3 slide" src="/images/main-goals.jpg" alt="mission_goals_happy_customers">
    </div>
  </div>


  <div class="links row">
    <div class="col-lg-6 text">
      <h1 class="big-heading">Find out more:</h1>
      <div class="anchor row">
        <a class="anchor" href="/services">Services</a>
      </div>
      <div class="anchor row">
        <a class="anchor" href="/gallery">Gallery</a>
      </div>
      <div class="anchor row">
        <a class="anchor" href="/contact">Contact us</a>
      </div>
    </div>
    <div class="col-lg-6 picture">
      <img class="main-image4 slide" src="/images/find_out_more.jpg" alt="some_random_3rd_picture">
    </div>
  </div>


  <div class="where sub-cont row">
    <div class="col-lg-6 text">
      <h1 class="big-heading">Where to find us:</h1><br>
      <h1 class="small-heading">Address:</h1>
      <p class="address">Street 00</p>
      <p class="address">10000 Zagreb</p>
      <p class="address">Croatia</p>
      <!-- <p>Street 00</p>
      <p>10000 Zagreb</p>
      <p>Croatia</p> -->
    </div>
    <div class="col-lg-6 picture">
      <img class="main-image5" src="/images/google_map.png" alt="google_maps">
      <link href="" alt="google_maps_direct_location_link">
    </div>
  </div>

</div>

<img class="miami" src="/images/gal-panorama-last.jpg" alt="miami_panorama">


<%- include("partials/footer") %>
